#basetable {
	height: 100%;
	width: 100%;
}

#headerrow {
	height: 10%;
	width: 100%;
	background-color: C5D67B;
	
}

#headercol {
	height: 10%;
	width: 100%;
	background-color: C5D67B;
}

#bodyrow {
	height: 85%;
	width: 100%;
}

#bodycol {
	height: 85%;
	width: 100%;
}

#bodytable {
	height: 100%;
	width: 100%;
	vertical-align: top;
}

#bodytablerow {
	height: 100%;
	width: 100%;
	border-style: solid;
	border-width: 5px;
}

#menutablecol {
	height: 100%;
	width: 10%;
	background-color: #b0c4de;
}

#bodytablecol {
	height: 100%;
	width: 90%;
}

#footerrow {
	height: 5%;
	width: 100%;
	background-color: #b0c4de;
}

#footercol {
	height: 5%;
	width: 100%;
}

#layout {
	font-family: "Arial";
	width: 100%;
	height: 100%;
	background-color: C5D67B;
}

#header {
	font-size: 20px;
	background-color: #b0c4de;
	background-image: url(../images/ptms_logo.jpg);
	background-repeat: no-repeat;
background-position: left 0;
	
	width: 100%;
	text-align: center;
	vertical-align: middle;
	
}

.headerheight {
	height: 60px;
	vertical-align: middle;
}

html {
	width: 100%;
	height: 100%
}

.floatright {
	float: right;
}

#menustyle {
	font-size: 15px;vertical-align: top;
}

#bodystyle {
	font-size: 12px;
}

#bodyheader {
	font-size: 20px;
	background-color: #b0c4de;
	width: 100%;
	text-align: left;
	vertical-align: top;
}

.even {
	background-color: #EFFBEF;
}

.odd {
	background-color: white;
}

.borderAll {
	border: 2px solid #8F99EF;
	
}

.nowrap {
	white-space: nowrap;text-align: center;
}

#datatable
{
font-size:12px;border: 2px solid #b0c4de;
}
#dataheader
{
    border-color: #600;
    border-width: 1px 1px 0 0;
    border-style: solid;
    text-align: center;
	vertical-align: middle;
    margin: 0;
    padding: 4px;
    background-color: #FFC;
	
}
#datacolumn
{
    border-color: #600;
    border-width: 1px 1px 0 0;
    border-style: solid;
    text-align: center;
	vertical-align: middle;
    margin: 0;
    padding: 4px;
    background-color: #FFC;
}
#hyperlink
{
font-size:15px;font-color:blue;
}
