#layout
{
font-family:"Arial";
background-image: url(../images/bg.jpg);
background-repeat:repeat-y;
background-position: center 0;
width:100%;height:100%;
}
body,html{
background-color:C5D67B;
width:100%;height:100%;
}
#header
{
font-size:20px;
background-image: url(../images/clock.gif);
background-color:C5D67B;height:100%;
background-repeat: no-repeat;
background-position: right 0;
width:100%;
border-style:solid;
border-width:5px;
}
#footer
{
background-color:C5D67B;
width:100%;
bottom:10px;
font-size:10px;
}
.headerheight
{
height:120px;
}
#basetable{
	height:100%;width:100%;border-style:solid;border-width:5px;border-color:green;
}
#headerrow{
height: 10%;width:100%;
}
#headercol{
height: 10%;width:100%;border-style:solid;border-width:5px;border-color:green;
}
#bodyrow{
height: 85%;width:100%;
}
#bodycol{
height: 85%;width:100%;
}
#bodytable{
height: 100%;width=100%;border-style:solid;border-width:5px;border-color:green;
}
#bodytablerow{
height: 100%;width:100%;
}
#menucol{
height: 100%;width:10%;border-style:solid;border-width:5px;border-color:green;
}
#bodycol{
height: 100%;width:90%;border-style:solid;border-width:5px;border-color:green;
}
#footerrow{
height: 5%;width:100%;border-style:solid;border-width:5px;border-color:green
}
#footercol{
height: 5%;width:100%;border-style:solid;border-width:5px;border-color:green
}

ul {
	margin: 0;font-size: 15px;
	padding: 0;
	list-style: none;
	width: 150px;
	border-bottom: 1px solid #ccc;
	}

ul li {
	position: relative;font-size: 15px;
	}
li ul {
	position: absolute;
	left: 149px;
	font-size: 15px;
	top: 0;
	display: none;
	}
ul li a {
	display: block;
	font-size: 15px;
	text-decoration: none;
	color: #777;
	background: #fff;
	padding: 5px;
	border: 1px solid #ccc;
	border-bottom: 0;
	}
li:hover ul { display: block; }